# Ambiente virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Entornos y editores
.vscode/
.idea/

# Sistemas operativos
.DS_Store
Thumbs.db

# Datos temporales / caché
.pytest_cache/
.cache/
